{
  "compilerOptions": {
    "target": "ES2020",
    "module": "ESNext",
    "moduleResolution": "Bundler",
    "lib": ["ES2020", "DOM"],
    "types": [],
    "strict": true,
    "noEmit": true,
    "skipLibCheck": true,
    "paths": { "@space-terminal/screener": ["./pdk/index.ts"] }
  },
  "include": ["src", "pdk"]
}
